<div>
    <h1>Pairs!!</h1>
    <div id="pairsWindow">
        <div class="pairsCard" ng-class="{'flipped': card.clicked == true || card.correct == true}"
             ng-repeat="card in $ctrl.selectedCards track by $index" ng-click="$ctrl.clickCard(card)">
            <img class="cardBack" src="images/card_back.jpg" />
            <img class="cardFront" ng-src="images/card_{{card.type}}.jpg" />
        </div>
        <div class="pairsModal" ng-show="$ctrl.winGame">
            <h2>You win!</h2>
            <p>Want to play again?</p>
            <span class="pairsReset" ng-click="$ctrl.resetGame(4)">Easy (2 pairs)</span>
            <span class="pairsReset" ng-click="$ctrl.resetGame(8)">Medium (4 pairs)</span>
            <span class="pairsReset" ng-click="$ctrl.resetGame(12)">Hard (6 pairs)</span>
        </div>
    </div>
</div>